.class1{background-color:#2d5e8b}.class1 .class2{background-color:#fff;color:#2d5e8b;width:100%}#wpr-recipy{background:red;width:100%}#wpr-recipy #cnr-recipy{max-width:600px;margin:0 auto}#wpr-recipy #cnr-recipy article{background:purple}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
