/*#wpr-recipy {
  float: left;
  width: 100%;
  #cnr-recipy {
    max-width: 500px;
    margin: 0 auto;

    article {
      float: left;
      width: 100%;

      h1{
        font-family: @yeseva;
      }
      span {

        font-family: @open-sans;
        background: #fff;
        display: block;
        min-height: 200px;
        padding: 0 20px;
        border: 1px solid #c7c9c9;
      }
    }
  }
}*/
header{width:100%;box-shadow:rgba(0,0,0,.01) 0 1px 5px;background:#fff;border-bottom:1px solid rgba(0,0,0,.08)}header .navbar-inverse{max-width:1280px;margin:0 auto;border:0;background:0}header .navbar-inverse .navbar-nav li a{color:#9d9d9d}header .navbar-inverse .navbar-nav li a:hover{color:#6a6a6a}#wpr-cover{float:left;width:100%;min-height:500px;background:url("../img/bg-cover.jpg");background-attachment:fixed;background-position:fixed;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}#wpr-cover #cnr-center{max-width:700px;min-height:400px;margin:0 auto;padding:80px}#wpr-cover #cnr-center h1{font-family:Pacifico,cursive}#wpr-cover #cnr-center span{display:block;margin:0 auto}#wpr-cover #wpr-ingredients .image-checkbox{cursor:pointer;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border:4px solid transparent;outline:0}#wpr-cover #wpr-ingredients .image-checkbox input[type="checkbox"]{display:none}#wpr-cover #wpr-ingredients .image-checkbox-checked{border:2px solid #f58723}h1,h2,h3{font-family:'Open Sans',sans-serif}#wpr-image-recipy{float:left;max-width:35%;width:100%;height:100vh}#wpr-image-recipy img{width:100%;height:100%;object-fit:cover;overflow:hidden}#wpr-content-recipy{float:left;max-width:45%;width:100%;height:100vh;padding:20px}#wpr-content-recipy ul#ingredients{padding:0}#wpr-content-recipy ul#ingredients li{display:inline-block;background:#fdc75f;margin-right:10px;padding:5px 10px}#wpr-content-recipy #wpr-preparation-fixed{float:left;height:250px;width:100%;background:red}#wpr-content-recipy #wpr-preparation-fixed #content{height:400px;overflow:auto;background:#fff}#wpr-ingredients-recipy{float:left;max-width:20%;width:100%;height:100vh;padding:15px;background:#f7f7f7}#wpr-ingredients-recipy ul{padding:20px}section.experience .wrapper h4{margin:0;text-align:center;font-family:Pacifico,cursive;font-size:2.1em;font-weight:300;color:#2b2b2b}section.experience .wrapper section{max-width:900px;margin:0 auto}section.experience .wrapper section .wrapper_content{min-height:300px;background-size:cover;background-position:center}section.experience .wrapper section .wrapper_content span{display:block;color:#000;background:#fff;text-align:center;font-size:1.75em;margin-top:70px;text-transform:uppercase}section.experience .wrapper section .wrapper_content a.link_recipy{position:absolute;top:0;width:90%;padding:10px 15px;margin-top:100px;text-align:center;background:red}.experience .wrapper h3{margin:0;text-align:center;text-transform:uppercase;font-weight:500;color:#2b2b2b}.experience .wrapper section div section button,.experience .wrapper section div section p{color:#fff;font-family:"Times New Roman",Times,Baskerville,Georgia,serif}:hover>.link_recipy{visibility:visible}.link_recipy{visibility:hidden}:hover>.name_recipy{visibility:hidden}.name_recipy{visibility:visible}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
